<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, consequuntur. Nostrum fugiat deserunt quam voluptas voluptatibus! Possimus architecto, magnam dolor quas deleniti adipisci ducimus quam nemo enim, accusantium laudantium voluptas.</p>
    </div>
</div>

