<div class="jumbotron mt-4">
    <h1>Notes App Nodejs and Mongodb</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quisquam consequuntur optio expedita, deserunt facere fugiat! Sint delectus quam nesciunt recusandae repudiandae iste et optio accusantium eaque? Quos, voluptas perferendis.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, unde! Laudantium, molestias est, nesciunt quam qui aliquam rerum exercitationem quibusdam, sapiente temporibus eum minima obcaecati consectetur dolorum officiis quis numquam.</p>
    <a class="btn btn-primary" href="www.gooogle.com">Josuesan</a>
</div>